@using Microsoft.AspNetCore.Identity
@using StopWatcher.Data
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
        <ul style="padding-right: 5%" class="navbar-nav font">
            <li class="nav-item">
                <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" class="font nav-link">Hello @UserManager.GetUserName(User)!</a>
            </li>
            <li  class="nav-item font">
                @*<button type="submit" class="btn btn-link font nav-link" style="font-size: x-large">Logout</button>*@
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button style="font-size:large" type="submit" class="nav-link btn btn-link font">Logout</button>
                </form>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="navbar-nav">
        <li class="nav-item" ><a class="font nav-link" asp-area="Identity" asp-page="/Account/Register" >Sign Up</a></li>
        <li class="nav-item" ><a  class="font nav-link"asp-area="Identity" asp-page="/Account/Login">Login</a></li>
    </ul>
}
