
@{
    ViewData["Title"] = "Cart";
}

<body class="alt-bg">
    <div style="margin: 5%;" class="alt-container">
        <script src="https://use.fontawesome.com/c560c025cf.js"></script>
        <div class="container">
            <div style=" border: #343a40" class="card shopping-cart">
                <div style="font-size: x-large;" class="card-header bg-dark text-light font">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    Shopping cart
                    @*<a href="" class="btn btn-outline-info btn-sm pull-right">Continue shopping</a>*@
                    <a asp-controller="plans" asp-action="index" class="btn btn-primary m-3 pull-right">Back</a>
                    <div class="clearfix"></div>
                </div>
                <div class="card-body">
                    <!-- PRODUCT -->
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-2 text-center">
                            <img class="img-responsive" src="http://placehold.it/120x80" alt="prewiew" width="120" height="80">
                        </div>
                        <div class="col-12 text-sm-center col-sm-12 text-md-left col-md-6">
                            <h4 class="product-name"><strong>Product Name</strong></h4>
                            <h4>
                                <small>Product description</small>
                            </h4>
                        </div>
                        <div class="col-12 col-sm-12 text-sm-center col-md-4 text-md-right row">
                            <div class="col-3 col-sm-3 col-md-6 text-md-right" style="padding-top: 5px">
                                <h6><strong>25.00 <span class="text-muted">x</span></strong></h6>
                            </div>
                            <div class="col-4 col-sm-4 col-md-4">
                                <div class="quantity">
                                    <input type="number" step="1" max="99" min="1" value="1" title="Qty" class="qty"
                                           size="4">
                                    @*<input type="button" value="-" class="minus"><input type="button" value="+" class="plus" size="1">*@
                                </div>
                            </div>
                            <div class="col-2 col-sm-2 col-md-2 text-right">
                                <button type="button" class="btn btn-outline-danger btn-xs">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <!-- END PRODUCT -->

                    <div class="pull-right">
                        <a href="" class="btn btn-outline-secondary pull-right">
                            Update shopping cart
                        </a>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="coupon col-md-5 col-sm-5 no-padding-left pull-left">
                        <div class="row">
                            <div class="col-6">
                                <input type="text" class="form-control" placeholder="Coupon Code">
                            </div>
                            <div class="col-6">
                                <input type="submit" class="btn btn-default" value="Apply Coupon">
                            </div>
                        </div>
                    </div>
                    <div class="pull-right" style="margin: 10px">
                        @*<a href="" class="btn btn-success pull-right">Checkout</a>*@
                        <a asp-controller="checkout" asp-action="index" class="btn btn-primary m-0 pull-right">Proceed to checkout</a>
                        <div class="pull-right" style="margin: 5px">
                            Total price: <b>$50.00</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="alt-footer">

    </div>
</body>
