.alt-bg {
    background-image: url('/images/alt-home.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.alt-container {
    margin-left: auto;
    margin-right: auto;
    height: 88.25vh;
    padding: 1rem;
}

.btn-pad {
    padding: 1rem;
    font-size: x-large;
    border-radius: .75rem;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

.flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    resize: vertical;
    overflow: auto;
}

.font {
    font-family: 'Orbitron', sans-serif;
    color: white;
    font-weight: 800;
}

.footer {
    margin: 0;
    padding: .25rem;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: 200;
    background-color: #343a40;
    /*bottom: 0;*/
    width: 100vw;
}

.home {
    display: flex;
    flex-basis: 70%;
    align-items: center;
    height: 90vh;
    /*width: 100vw;*/
}

.home-bg {
    background-color: black;
    background-image: url('/images/home3.png');
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 80px;
}

.home-container {
    padding: 5%;
}

.identity-container {
    margin-left: auto;
    margin-right: auto;
    height: 81.5vh;
    /*padding: 1rem;*/
}

@media only screen and (max-width: 1000px) {
    body {
        background-position: top right;
    }
}

.navbar {
    border-radius: 0;
    margin-bottom: 0;
}

.nav-bar-mod {
    margin: 0;
    padding-left: 5%;
    padding-right: 5%;
    font-size: larger;
}

/*.navbar-inverse .navbar-nav > li > a{
    color: aqua;
}*/
