.alt-bg {
    background-image: url('/images/alt-home.png');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: -1;
}

.alt-container {
    align-items: center;
    height: 89.4vh;
    width: 100%;
}

/*body, html {
    height: 100%;
}*/

.btn-pad{
    padding: 1rem;
    font-size:x-large;
    border-radius: .75rem;
}

.flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    resize: vertical;
    overflow: auto;
}

.font {
    font-family: 'Orbitron', sans-serif;
    color: white;
    font-weight: 800;
}

.footer {
    margin: 0;
    padding: .25rem;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: 200;
    background-color: #343a40;
    /*bottom: 0;*/
    width: 100%;
}

.home {
    display: flex;
    flex-basis: 65%;
    align-items: center;
    height: 94vh;
    width: 100%;
}

/*.home > * {
    flex-basis: 65%;
}*/

.home-bg {
    background-color: black;
    background-image: url('/images/home3.png');
    height: 100vh;
    width: 100%;
    /*background-size: cover;*/
    background-repeat: no-repeat;
    position: relative;
    z-index: -1;
    background-position-y: 72px;
    background-position-x: center;
}

@media only screen and (max-width: 1000px) {
    body {
        background-position: top right;
    }

}

.navbar {
    border-radius: 0;
    margin-bottom: 0;
}

.nav-bar-mod{
    margin: 0;
    padding-left: 5%;
    padding-right: 5%;
    font-size: x-large;
}

/*.navbar-inverse .navbar-nav > li > a{
    color: aqua;
}*/