@{
    ViewData["Title"] = "About";
}
<body class="alt-bg">
    <div style="padding: 1rem;" class="alt-container col-md-11">
        <div style="vertical-align: central">
            <h2 style="padding-bottom: .5rem; color: white;" class="font">@ViewData["Title"]</h2>
            <h3 style="padding-bottom: .5rem;"><strong>@ViewData["Message"]</strong></h3>
            <h5>Stop Watcher is a risk management web app to place protective stop loss and trailing stop loss orders on open positions in your trading accounts.</h5>
        </div>
    </div>
</body> 