@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Stop Watcher is a web app to place protective stop loss and trailing stop loss orders on open positions in your trading account.</p>
