@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<address>
    <strong>Support:</strong> <a href="mailto:support@stopwatcher.io">support@stopwatcher.io</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketing@stopwatcher.io">marketing@stopwatcher.io</a>
</address>
