@{
    ViewData["Title"] = "Contact";
}

<body class="alt-bg">
    <div style="padding: 1rem;" class="alt-container">
        <div style="height: 50%">
            <h2 style="color: white;" class="font">@ViewData["Title"]</h2>
            <h3>@ViewData["Message"]</h3>
            <h4>
                <strong>Support:</strong> <a style="color: lime;" href="mailto:support@stopwatcher.io">support@stopwatcher.io</a><br />
                <br />
                <strong>Marketing:</strong> <a style="color: lime;" href="mailto:marketing@stopwatcher.io">marketing@stopwatcher.io</a>
            </h4>
        </div>
    </div>  
</body>
