@{
    ViewData["Title"] = "Home Page";
}


@section FullWidth{
<body class="home-bg">

        <div class="home font">
            <div style="height: 60%; margin-left: 10%;" class="text-left">
                <h1>Manage risk and take profits like a pro with StopWatcher.</h1>
                <a asp-controller="plans" asp-action="index" style="font-size:xx-large" class="btn btn-primary btn-pad">Subscribe Now</a>
            </div>
        </div>
</body>

}