@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<div style="text-align:center; height: 85.2vh" class="identity-container">

    <header>
        <h1 class="text-danger">@ViewData["Title"]</h1>
        <p class="text-danger">You do not have access to this resource.</p>
    </header>
</div>
