@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div style="justify-content:center; margin:0;" class="row">
    <h2 style="color:black;" class="col-md-8 font">@ViewData["Title"]</h2>
</div>
<div style="justify-content:center" class="row identity-container">
    <div class="col-md-8">
        <hr />
        <h4>
            Please check your email to reset your password.
        </h4>
    </div>
</div>

