
@{
    ViewData["Title"] = "SetStop";
}

<h2>SetStop</h2>

<h3>Units</h3><input />
<h3>Weighted Average Buy Price</h3><input />
<h3>Stop Loss %</h3><input />
<button>Set Stop Loss</button><button>Cancel</button>
