
@{
    ViewData["Title"] = "ManagePositions";
}

<h2>ManagePositions</h2>
<ul>
    <li>Exchange</li>
    <li>API Key</li>
    <li>Positions</li>
    <li>Open Orders</li>
</ul>

<a asp-controller="home" asp-action="index" class="btn btn-primary m-3">Back</a>